:root {
  --color-primary: 17, 17, 17;
  --color-main: 255, 255, 255;
  --gray-950: 2, 6, 23;
  --gray-800: 30, 41, 59;
  --gray-600: 71, 85, 105;
  --gray-400: 148, 163, 184;
  --gray-200: 226, 232, 240;
  --gray-50: 241, 245, 249;
  --header-height-primary-desktop: 5.5rem;
  --header-height-secondary-desktop: 4.25rem;
  --header-height-ipad: 3rem;
  --header-height-mobile: 3rem;
  --currency-selector-width-2xl: 4.5625rem;
  --currency-selector-line-height: 1.21rem;
  --logo-container-width: 83.4375rem;
  --logo-container-width-xl: 63.4375rem;
  --logo-width: 9.19125rem;
  --logo-left-padding: 4.4375rem;
  --logo-left-padding-xl: 1.125rem;
  --mobile-nav-content-height: 2.875rem;
  --homepage-collection-list-width: 82.75rem;
  --homepage-collection-list-width-desktop-secondary: 80rem;
  --homepage-collection-list-width-ipad: 46rem;
  --homepage-collection-list-width-mobile: 25.7142857143rem;
  --divider-color: 217, 217, 217;
  --featured-collection-height: 36.6625rem;
  --blue-col: 47, 128, 237;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  src: local(''), url('/public/fonts/Inter-Bold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('/public/fonts/Inter-Bold.woff2') format('woff2'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

  .inter {
    font-family: 'Inter', sans-serif;
  }
}

@font-face {
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-style: medium;
  src: local(''), url('/public/fonts/Poppins-Medium.woff') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ .poppins {
    font-family: 'Poppins', sans-serif;
  }
}

@font-face {
  font-family: 'Roboto';
  font-optical-sizing: auto;
  font-style: medium;
  src: local(''), url('/public/fonts/Roboto-Medium.woff') format('woff2'),
    .roboto {
    font-family: 'Roboto';
  }
}

.border-common {
  border-top: 1px solid rgba(var(--gray-200));
}

.underline-hover {
  a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  a:hover {
    color: #000;
  }

  a::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: rgba(var(--gray-400));
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  a:hover::before {
    transform: scaleX(1);
  }
}
